table {
  overflow-x: auto;
}

.sort-header {
  display: flex;
  justify-content: space-between;
  &__icon {
    .icon {
      &__sort {
        padding: 0 2px;
        cursor: pointer;
      }
    }
  }
}

.search-by-email-input {
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 15px;
}

.group-btns {
  display: flex;
  justify-content: space-between;
  background-color: green;
}
